.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
    justify-items: center;
    grid-template-areas: 
                "header"
                "main"
                "footer";
}

.site-header {
    background-color: rgb(231, 121, 18);
    grid-area: header;
}

.content {
    grid-area: main;
    align-self: center;
    background-color: rgb(238, 229, 98);
}

.site-footer {
    grid-area: footer;
    background-color: rgb(74, 218, 74);
}

.game-field {
    display: flex;
    flex-wrap: wrap;
    max-width: 1260px;
}

.slot {
    height: 100px;
    width: 100px;
    margin: 2.5px;
    background-color: red
}

.target {
    background-color: green;
}

.miss {
    background-color: yellow;
}

.flex-wrapper {
    display: flex;
}

.top-field {
    width: 100%;
    flex-grow: 1;
}

.modal { 
    background-color: green;
    opacity: 0;
    visibility: hidden;
    width: 70%;
    max-width: 1000px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}





